
body {
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
    box-sizing: border-box;
}

body.dark-theme {
    background-color: #121212;
    color: #ffffff;
}


button {
    transition: background-color 0.3s, color 0.3s;
}

body.dark-theme button {
    background-color: #444;
    color: #fff;
}


.layout_footer {
    background-color: #f1f1f1; 
    color: #000000;
    padding: 1rem;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-theme .layout_footer {
    background-color: #333333; 
    color: #ffffff; 
}

.layout_navbar {
    margin-bottom: 1.5rem; 
}

.layout_footer {
    margin-top: 1.5rem; 
    padding: 1rem;
    text-align: center;
    background-color: #f1f1f1; 
    color: #000000; 
    transition: background-color 0.3s, color 0.3s;
}


body.dark-theme .layout_footer {
    background-color: #333333;
    color: #ffffff;
}

button.dark-theme{
    background-color: black;
    color: white;
}
.card {
    top:100px;
    margin: 1rem 0; 
    padding: 1rem;
    background-color: #f9f9f9;
    color: #000;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-theme .card {
    background-color: #333;
    color: #fff;
}

.links{
    gap: 30px;
}

.cards{
    top:100px;
}

.butonat{
    display: flex;
}


/* style.css */



.layout {
    width: 100%; /* Full width for the layout */
    padding: 20px;
}

.cart-page-container {
    max-width: 100%; /* Full width of the cart container */
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    width: 100%;
    padding: 0;
    list-style: none;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    width: 100%; /* Ensures items span the full width */
}

.cart-item img {
    width: 300px;
    height: 300px;
    border-radius: 8px;
}

.cart-item button {
    width: 200px;
    height: 50px;
}

.total-price, .clear-cart {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.clear-cart {
    width: 200px;
    height: 50px;
    background-color: red;
    color: white;
    margin: 20px auto;
}
