
body {
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
}

body.dark-theme {
    background-color: #121212;
    color: #ffffff;
}


button {
    transition: background-color 0.3s, color 0.3s;
}

body.dark-theme button {
    background-color: #444;
    color: #fff;
}


.layout_footer {
    background-color: #f1f1f1; 
    color: #000000;
    padding: 1rem;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-theme .layout_footer {
    background-color: #333333; 
    color: #ffffff; 
}

.layout_navbar {
    margin-bottom: 1.5rem; 
}

.layout_footer {
    margin-top: 1.5rem; 
    padding: 1rem;
    text-align: center;
    background-color: #f1f1f1; 
    color: #000000; 
    transition: background-color 0.3s, color 0.3s;
}


body.dark-theme .layout_footer {
    background-color: #333333;
    color: #ffffff;
}


.card {
    top:100px;
    margin: 1rem 0; 
    padding: 1rem;
    background-color: #f9f9f9;
    color: #000;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-theme .card {
    background-color: #333;
    color: #fff;
}

.links{
    gap: 30px;
}

.cards{
    top:100px;
}